body {
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: default;
}
a {
    cursor: pointer;
}

header {
    background: url("/static/asanoha.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 29px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

header .tools {
    position: absolute;
    top: -1px;
    right: 10px;
}

header .tools .cog {
    transform-origin: 14.5px 14.8px;
    transition: transform 0.25s;
    cursor: pointer;
}

header .tools .cog:hover {
    transform: rotate(45deg);
}

header .title {
    font-weight: 800;
    position: absolute;
    top: 3px;
    left: 50%;
    right: 50%;
}
header .title .hum {
    color: rgb(0, 87, 186);
}
header .title .drum {
    color: rgb(87, 186, 0);
}

#overlay {
    background: url("/static/congruent_outline.png") black;
    display: none;
    opacity: 0.75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

svg#canvas {
    position: absolute;
    top: 29px;
}

.repository .label {
    font-size: 20pt;
}
.repository .uri {
    fill: rgb(150, 150, 150);
    font-size: 10pt;
}
.lane-divider {
    stroke-width: 1px;
    stroke: rgb(200, 200, 200);
    stroke-dasharray: 5,10;
}
.repository .activity circle {
    fill: rgb(150, 150, 150);
}
.repository .activity text {
    fill: white;
}
.repository .commit circle {
    stroke: rgb(180, 180, 180);
    stroke-width: 2px;
    transform-origin: 50% 50%;
    transition: transform 0.25s;
}
.repository .commit .count {
    fill: white;
    text-anchor: middle;
}
.repository .commit .contributor text {
    fill: white;
    text-anchor: middle;
    font-size: 10pt;
    opacity: 0;
    transition: opacity 0.25s;
}
.repository .commit .contributor text {
    fill: white;
    text-anchor: middle;
    font-size: 10pt;
    opacity: 0;
    transition: opacity 0.25s;
}
.repository .commit:hover .contributor text {
    opacity: 1;
}
.repository .commit circle.temporary {
    stroke: rgb(180, 180, 180);
    stroke-width: 2px;
    transform: scale(0, 0);
}
.repository .commit:hover circle.temporary {
    transform: scale(1, 1);
}

line.day {
    stroke: rgb(200, 200, 200);
    stroke-width: 1px;
    stroke-dasharray: 5,10;
}
text.day {
    text-anchor: middle;
    fill: rgb(150, 150, 150);
}