<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Humdrum</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/settings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='knockout-3.4.0.js') }}"></script>
    <script src="{{ url_for('static', filename='models.js') }}"></script>
    <script>
        $(function () {
            $.ajax("/json", {
                success: function (data) {
                    ko.applyBindings(new PageModel(data));
                },
            });
            $("header .tools .cog").click(function () {
                $('#overlay').fadeIn();
                $('#settings').fadeIn();
            });
            $("#settings .close").click(function () {
                $('#overlay').fadeOut();
                $('#settings').fadeOut();
            });
        });
    </script>
</head>
<body>
    <header>
        <div class="tools">
            <img class="cog" src="{{ url_for('static', filename='gear.svg') }}" height="28" />
        </div>
        <div class="title">
            <span class="hum">Hum</span><span class="drum">drum</span>
        </div>
    </header>

    <svg id="canvas" width="{{ width }}" height="20000" data-bind="with: status">
        <g class="day-lines" transform="translate(250, 0)">
            {% for day in days %}
                <text class="day" x="{{ day.centre_x }}" y="25">{{ day.name }}</text>
                <line class="day" x1="{{ day.x }}" y1="0" x2="{{ day.x }}" y2="2000"></line>
            {% endfor %}
        </g>

        <line class="lane-divider" x1="0" x2="{{ width }}" y1="45" y2="45"></line>
        <g data-bind="foreach: repos" transform="translate(0, 45)">
            <line class="lane-divider" x1="0" x2="{{ width }}" y1="0" y2="0" data-bind="attr: { transform: translation }"></line>
        </g>

        <g class="status" data-bind="foreach: repos" transform="translate(0, 45)">
            <g class="repository" data-bind="attr: { transform: translation }">
                <g class="metadata" transform="translate(0, 30)">
                    <a data-bind="attr: { href: uri }">
                        <text class="label" data-bind="text: name" transform="translate(40, 0)"></text>
                        <text class="uri" data-bind="text: uri" transform="translate(10, 20)"></text>
                    </a>
                    <g class="activity" transform="translate(20, 2)">
                        <circle r="14" transform="translate(0, -10)"></circle>
                        <text text-anchor="middle" data-bind="text: activity" transform="translate(0, -4)"></text>
                    </g>
                </g>

                <g class="commits" data-bind="foreach: days" transform="translate(250, 50)">
                    <g class="commit">
                        <circle data-bind="attr: { cx: x, r: radius, fill: fillColor }"></circle>
                        <text class="count" y="5" data-bind="text: countString, attr: { x: x }"></text>
                        <circle class="temporary" data-bind="attr: { cx: x, fill: fillColor }" r="80"></circle>
                        <g class="contributor" data-bind="foreach: contributors">
                            <text data-bind="text: name, attr: { x: x, y: y }"></text>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>

    <div id="overlay"></div>
    <div id="settings" data-bind="with: settings">
        <div class="window-header">
            Settings
            <img class="close button" src="static/close.svg" height="16" />
        </div>
        <div class="content">
            <h3>Repositories</h3>
            <div data-bind="foreach: repos">
                <div class="repo">
                    <div data-bind="text: url"></div>
                    <div class="buttons">
                        <button data-bind="click: remove">
                            <img class="button" src="static/close.svg" height="16" />
                        </button>
                    </div>
                </div>
            </div>
            <form id="add_repo" class="repo" action="/settings/repo/add" method="post">
                <div>Add a new Git or Mercurial SSH url</div>
                <div><input name="repo" type="text" /></div>
                <button><img class="button" src="static/add.svg" height="20"/></button>
            </form>
        </div>
    </div>
</body>
</html>